<div class="column column-1">
    <button><i class="fas fa-box-open"></i> <a href="{% url 'upload_files' %}" type="button" style="color: white">Upload Files</a></button>
    <button><a href="{% url 'display' %}" type="button" style="color: white">Tables</a></button>
    <button><a href="{% url 'display_relationships' %}" type="button" style="color: white">Relationships</a></button>
   
    <button><a href="{% url 'query_by_columns' %}" type="button" style="color: white">Query Columns</a></button>
    
</div>