<div class="column column-3">
    <h6>Helpful Resources</h6>
    <button><i class="fas fa-play-circle"></i> Get Started</button>
    <button><i class="fas fa-question"></i> Online Help</button>
    <button><i class="fas fa-chalkboard-teacher"></i> Online Training</button>
    <button><i class="fas fa-book-open"></i> Tutorials</button>
    <button><i class="fas fa-film"></i> Video Library</button>
    <button><i class="fas fa-briefcase"></i> Project Consultation</button>
    <button><i class="fas fa-users"></i> Community Forum</button>
    <button><i class="fas fa-layer-group"></i> App Templates</button>
    <button><i class="fas fa-phone"></i> Contact Support</button>
    <button><i class="fas fa-lightbulb"></i> Suggest a Feature</button>
    <button><i class="fas fa-blog"></i> Caspio Blog</button>
</div>