{% extends 'auth_base.html' %}

{% block content %}
    <h2>Files</h2>

    {% for data_frame in data_frames %}
        <h3>{{ data_frame.columns|join:', ' }}</h3>
        <table class="table table-striped custom-table">
            <!-- Render table here -->
        </table>

        <form method="post" action="{% url 'appbuilder:display_forms' %}">
            {% csrf_token %}
            <input type="hidden" name="data_frame_index" value="{{ forloop.counter0 }}">
            <button type="submit">View Form</button>
        </form>

        <!-- Display dynamic form fields -->
        {% if selected_data_frame is data_frame %}
            <form method="post">
                {% csrf_token %}
                {{ dynamic_form.as_p }}
                <button type="submit">Submit Form</button>
            </form>
        {% endif %}
    {% endfor %}
{% endblock %}
